<ion-view view-title="Übersicht">
  <ion-content>
    <!--
    <div class="list card">
    <div class="item item-avatar" id="merckCard">
      <img src="img/merckLogo.jpg">
      <h2>Merck</h2>
      <p>Produktvorstellung</p>
    </div>

    <div class="item item-avatar" id="merckCard">
      <img src="img/ben.png">
      <h2>Ansprechpartner Name</h2>
    </div>

    <a class="item item-icon-left assertive" href="#" id="merckCard">
      <i class="ion-calendar"></i>
      27.06.2016
    </a>

    </div>


    <div class="list card">

    <div class="item item-avatar" id="telekomCard">
      <img src="img/telekomLogo.png">
      <h2>Telekom</h2>
      <p>Prozess-Nachbesprechung</p>
    </div>

    <div class="item item-avatar" id="telekomCard">
      <img src="img/adam.jpg">
      <h2>Ansprechpartner Name</h2>
    </div>

    <a class="item item-icon-left assertive" href="#" id="telekomCard">
      <i class="ion-calendar"></i>
      07.07.2016
    </a>
    </div>
  -->



<!--This is the basic layout for a card Variante 1-->
<!--
    <div class="row">
      <div class="col col-100" id="cardContainer"> <h4>Meeting at Merck KgA</h4>
        <div class="row" style="height: 90px;">
          <div class="col col-75" id="col-75" style="margin-left: -5px">
            <h4 id="subject"> Subject:</h4>
            <h4 style="padding-left: 15%; padding-top: 2%;"> New OLED-Product </h4>
          </div>
            <img src="img/merckLogo.jpg" id="companyLogo">
        </div>
        <div class="col col 90" id="col-90">
          <div class="row">
            <img src="img/adam.jpg" style="width: 20%; height: 20%; border-radius: 50%;">
            <div>
              <h4 id="corresponder"> Corresponder at Merck: </h4>
              <h4 style="padding-left: 15%; padding-top: 2%;"> Ben Krizkwiki </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
<!--This is the basic layout for a card Variante 2-->

  <div class="row" style="margin-bottom: 15px;" ui-sref="tab.main-detail-merck">
    <div class="col col 80" id="col-80">
      <div class="col col 100" id="col-100">
        <div class="row">
          <img src="img/merckLogo.jpg" style="width: 35%; height: 35%; border-radius: 50%;">
          <p style="margin: auto; font-size: 16pt;"> Merck - Meeting</p>
        </div>
      </div>
      <div class="col col 100">
        <a class="item item-icon-left assertive" href="#" id="merckCard">
          <i class="ion-calendar"></i>
          27.06.2016
        </a>
      </div>
      <div class="col col 100">
        <a class="item item-icon-left assertive" href="#" id="merckCard">
          <i class="ion-person"></i>
          Herr Peter
        </a>
      </div>
    </div>
  </div>


    <div class="row" style="margin-bottom: 15px;" ui-sref="tab.main-detail-telekom">
      <div class="col col 80" id="col-80">
        <div class="col col 100" id="col-100">
          <div class="row">
            <img src="img/telekomLogo.png" style="width: 35%; height: 35%; border-radius: 50%;">
            <p style="margin: auto; font-size: 16pt;"> Telekom - Meeting</p>
          </div>
        </div>
        <div class="col col 100">
          <a class="item item-icon-left assertive" href="#" id="merckCard">
            <i class="ion-calendar"></i>
            29.06.2016
          </a>
        </div>
        <div class="col col 100">
          <a class="item item-icon-left assertive" href="#" id="merckCard">
            <i class="ion-person"></i>
            Ihre Ansprechperson: Herr Meier
          </a>
        </div>
      </div>
    </div>


    <div class="row" ui-sref="tab.main-detail-lufthansa">
      <div class="col col 80" id="col-80">
        <div class="col col 100" id="col-100">
          <div class="row">
            <img src="img/lufthansaLogo.png" style="width: 35%; height: 35%; border-radius: 50%;">
            <p style="margin: auto; font-size: 16pt;"> Lufthansa - Meeting</p>
          </div>
        </div>
        <div class="col col 100">
          <a class="item item-icon-left assertive" href="#" id="merckCard">
            <i class="ion-calendar"></i>
            06.07.2016
          </a>
        </div>
        <div class="col col 100">
          <a class="item item-icon-left assertive" href="#" id="merckCard">
            <i class="ion-person"></i>
            Ihre Ansprechperson: Herr Airballoon
          </a>
        </div>
      </div>
    </div>


</ion-content>
</ion-view>
